    h2 {
        font-size: 40px;
    }
    
    body {
        background-color: lavenderblush;
    }
    
    h2 {
        text-align: center;
    }
    
    h2 {
        color: purple;
    }
    
    h3 {
        color: purple;
    }
    
    h2 {
        font-style: italic;
    }
    
    h3 {
        font-style: italic;
    }
    
    p {
        font-style: italic;
    }
    
    h1 {
        color: purple;
    }
    
    h1 {
        font-style: italic
    }
    
    h1 {
        text-align: center;
    }
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20;
    }
    
    h4 {
        text-align: center;
    }
    
    h4 {
        color: purple;
    }
    
    button {
        margin-left: 45%;
    }
    
    .KASI {
        margin-left: 35%
    }
    
    .Weight Watchers {
        width: 50%;
    }
    
    .Weight Watchers {
        height: 200px;
        width: 50%;
    }
    
    form {
        margin-left: 25%;
    }
    
    h4 {
        margin-left: 8%;
    }
    
    .Reviews {
        color: lavenderblush
    }